@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5em;
  color: #111;

  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}