.accordion {
  
  .accordion-item {
    width: 100%;

    .accordion-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      border-bottom: 1px solid #e6e6e6;
      background-color: #fafafa;
      font-weight: 600;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    .accordion-content {
      padding: 1em;
      border-bottom: 1px solid #e6e6e6;
    }
  }
}