.design-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;

  .preview-area {
    width: calc(100%);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 330px;
    box-sizing: border-box;
    @media (max-width: 768px) {
      padding-left: 0;
    }
  }
  .control-area {
    position: fixed;
    padding: 1em;
    left: 0;
    top: 0;
    height: 100%;
    box-sizing: border-box;

    @media (max-width: 768px) {
      display: none;
    }
    .control-area-inner {
      width: 300px;
      position: relative;
      height: 100%;
      background: white;
      border-radius: 10px;
      border: solid 1px #e4e4e4;
    }
  }
}

.design-share-container {
  // padding: 0 1em 1em;

  .design-title {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    color: #333;
  }

  .design-description {
    margin-bottom: 1.5em;
    line-height: 1.4;
    color: #555;
  }

  .design-metadata {
    margin-bottom: 1.5em;
    padding: 1em;
    background-color: #f8f8f8;
    border-radius: 6px;

    .creator-info, .contact-info {
      margin-bottom: 0.5em;
      display: flex;
      align-items: baseline;

      .label {
        font-weight: 600;
        margin-right: 0.5em;
        min-width: 70px;
        color: #666;
      }

      .value {
        color: #333;
      }
    }

    .contact-info {
      margin-bottom: 0;
    }
  }

  .share-link-container {
    background-color: #f0f7ff;
    padding: 1em;
    border-radius: 6px;
    border-left: 3px solid #3498db;

    .share-label {
      display: block;
      margin-bottom: 0.5em;
      font-weight: 600;
      color: #3498db;
    }

    .share-url {
      display: block;
      word-break: break-all;
      color: #2980b9;
      text-decoration: none;
      font-size: 0.9em;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
